h1 {
  text-align: center;
}

form {
  width: 25%;
  display: flex;
  flex-direction: column;
  background: rgb(234, 246, 255);
  color: #2F3D59;
}

input, textarea {
  margin-top: 8px;
  margin-bottom: 16px;
}

.account-form {
  width: 45vh;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #2F3D59;
  border-radius: 5px;
}

.account-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.account-form input[type="text"],
.account-form input[type="tel"],
.account-form input[type="date"] {
  width: 40vh;
  padding: 8px;
  border: 1px solid #2F3D59;
  border-radius: 5px;
  box-sizing: border-box;
}

.account-form button {
  display: block;
  width: 40vh;
  padding: 10px;
  background-color: #005fc4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.account-form button:hover {
  background-color: #004998;
}