h1 {
  text-align: center;
}

body {
  color: #1a1a1a;
}

.accounts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid #2F3D59; /* Updated border color */
  border-radius: 10px;
  background: #c4e8f3; /* Updated background color */
  color: rgb(0, 0, 0);
  margin-top: 30px;
}

.account-info {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

.account-info div {
  margin-bottom: 15px;
}

.account-info label {
  font-weight: bold;
}

.account-actions {
  background: #2F3D59;
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #7CDE95;
  border-radius: 10px;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}
