form {
  width: 25%;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  color: #2F3D59;
}

input, textarea {
  margin-top: 8px;
  margin-bottom: 16px;
}

.account-form {
  min-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #2F3D59;
  border-radius: 5px;
}

.account-actions {
  background: #2F3D59;
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #7CDE95;
  border-radius: 10px;
}

.account-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.account-form input[type="text"],
.account-form input[type="tel"],
.account-form input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #2F3D59;
  border-radius: 5px;
  box-sizing: border-box;
}

.account-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.account-form button:hover {
  background-color: #0056b3;
}